body, input, textarea, select, button {
    font-family: "AtlasGrotesk","Open Sans",sans-serif;
}

/* Botões */
.btn-primary{
    background-color: #f5932a !important;
    border: #f5932a;
    transition-duration: 0.4s;
}

.btn-primary:hover{
    background-color: #e67f12 !important;
    border: #e67f12;
}

/* Imagens cabeçalho */
.header-logo{
    max-width:23vw;
    min-width: 300px;
    height: auto;
}

.header-pficon{
    align-self: flex-end;
    max-width:23vw;
    min-width: 11rem;
    height: auto;

}

/* Formulário */
.tituloFormulario {
    float: left;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: left;
}

.textoFormulario
{
    float: right;
    line-height: normal;
    padding-left: 4rem;
}

.gpInputFormulario {
    margin: 2px 0 5px;
    min-height: 34px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 3px;
    -webkit-appearance: none;
    font-size: 14px;
    border: 1px solid #958c7e;
    padding: 5px 6px;
}

/* Página de Login */
.login-container-img{
    max-width: 450px;
}

.login-container-flex{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-container-form{
    margin-top: 1rem;
    max-width: 600px;
    flex-grow: 1;
}

.login-register-header {
    float: left;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: left;
}

.login-register-switch {
    float: right;
    margin-top: 5px;
    line-height: normal;
}

.login-container-form input[type="email"] {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.login-container-form input[type="password"] {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: 0px;
}

/* Página de Cadastro */
.register-container-form{
    max-width: 650px;
    flex-grow: 1;
    margin-top: -3rem;
}

/* Página de perfil */
.profile-welcome{
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: calc(1rem + 4vw);
}

.profile-welcome img{
    max-width: 10vw;
    min-width: calc(5rem + 4vw);
    height: auto;
    margin-left: 4vw;
    margin-right: 2vw;
}

.profile-container-flex{
    display: flex;
    align-items: flex-start;
    margin-left: 15vw;
    flex-direction: row;
}

.pf-item{
    min-width: 15rem;
    max-width: auto;
    margin-right: 2rem;
    font-size: large;
}

.pf-item-name{
    background-color: #f5932a;
    color: white;
    font-weight: bold;
    padding: 3%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.pf-desc{
    background-color: #e8e8e8;
    padding: 3%;
    margin-top: -1rem;
}

/* Genérico */
.float-left{
    float: left;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

@media only screen and (max-width: 1040px) {
    .login-container-img{
        display: none;
    }
}